<form method="post" action="{{ path('app_patient_delete', {'id': patient.getIdPatient()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn btn-outline-danger" style="margin-right:10px;">Effacer</button>
</form>
