<form method="post" action="{{ path('app_patient_delete', {'id': id}) }}" onsubmit="return confirm('Are you sure you want to delete?');">
    <button class="btn btn-outline-danger" style="margin-right:10px;">Effacer votre espace</button>
</form>
