<form method="post" action="{{ path('app_reservation_delete', {'idPatient':idPatient,'id':id}) }}" onsubmit="return confirm('Are you sure you want to delete this reservation?');">
    <button class="btn btn-outline-danger" style="margin-right:10px;">annuler</button>
</form>
