
<form method="post" action="{{ path('app_categorie_prod_delete', {'id': categorie_prod.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    
    <button class="btn btn-outline-danger btn-md btn-block">Supprimer</button>
</form>